<%- include( '../shared/page-header') %>
	</head>

	<body class="accounts-body">
		<script src="https://accounts.google.com/gsi/client" async defer></script>
		<div class="account-pages my-5 pt-sm-5">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-md-8 col-lg-6 col-xl-5 ">
						<div class="card overflow-hidden shadow-lg">
							<div class="bg-soft-info">
								<div class="row">
									<div class="col-12">
										<div class="p-4">
											<h5 class="">Free Register</h5>
											<p>Get your free Rent Hub account now.</p>
										</div>
									</div>
								</div>
							</div>
							<div class="card-body pt-0">
								<div>
									<div class="avatar-md profile-user-wid mb-2"> <span class="avatar-title rounded-circle bg-light">
							<a href='<%= base_url %>'>
							<img src="<%= base_url %>/assets/images/favicon.png" alt="" class="rounded-circle" height="34">
							</a>                                 
							</span> 
									</div>
								</div>
								<div class="p-2">
									<div id='register-result'></div>
									<form id='user-registration-form' class="form-horizontal" action="#" method='post'>
										<div class="form-group">
											<label for="user_email">Email <span class="text-danger">*</span></label>
											<input type="email" name='user_email' class="form-control" id="user_email" placeholder="Enter your email" autocomplete="off" required>
										</div>										
										<div class="form-group">
											<label for="user_password">New Password <span class="text-danger">*</span></label>
											<input type="password" name='user_password' class="form-control" id="user_password" placeholder="Enter password" autocomplete="off" required>
										</div>
										<div class="form-group">
											<label for="password_repeat">Confirm Password <span class="text-danger">*</span></label>
											<input type="password" name='password_repeat' class="form-control" id="password_repeat" placeholder="Repeat password" autocomplete="off" required>
										</div>	
										<div class="form-group">
											<label for="referal_code">Referal Code</label>
											<input type="text" value="<%= referal_code %>" name='referal_code' class="form-control" id="referal_code" placeholder="Enter referal code (if available)" autocomplete="off" maxlength="6">
										</div>									
										<div class="mt-2">
											<div class="custom-control custom-checkbox custom-checkbox-info mb-3 mr-3 ">
												<input type="checkbox" class="custom-control-input" id="agree_terms" name='agree_terms' value='1'>
												<label class="custom-control-label" for="agree_terms">By registering you agree to our <a data-toggle="modal" data-target="#mdl_terms" href="javascript:void(0)" class="text-info">Terms of Use</a> <span class="text-danger">*</span>
												</label>
											</div>
										</div>
										<div class="g-recaptcha"
											data-sitekey="6LeDgZcaAAAAAHMKqfP8zzon8zSrLKpcEMuaIaXD"
											data-callback="onCaptchaPassed"
											data-size="invisible">
										</div>
										<div class="mt-2">
											<button class="btn btn-info btn-block "  id='register-button' type="submit">Register</button>
										</div>
									</form>
								</div>								
								<div class="mt-3 text-center">
									<div>
										<p>Already have an account ? <a href="<%= base_url %>/auth/register" class="font-weight-medium text-info"> Go to register</a> 
										</p>
									</div>
									<h6>-OR-</h6>
									<div id="g_id_onload"
										data-client_id="<%=g_login_id %>"
										data-callback="googleSignIn"
										data-auto_select="true">
									</div>

									<div class="g_id_signin " data-type="standard"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade " id="mdl_terms" tabindex="-1" role="dialog" aria-labelledby="mdl_terms" aria-hidden="true">
			<div class="modal-dialog modal-xl" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="mdl_terms">Terms and Conditions</h5>
					</div>
					<div class="modal-body">
						<p>These terms and conditions (&quot;Agreement&quot;) set forth the general terms and conditions of your use of the <a target="_blank" rel="nofollow" href="https://renthub.co.ke">renthub.co.ke</a> website (&quot;Website&quot; or &quot;Service&quot;) and any of its related products and services (collectively, &quot;Services&quot;). This Agreement is legally binding between you (&quot;User&quot;, &quot;you&quot; or &quot;your&quot;) and this Website operator (&quot;Operator&quot;, &quot;we&quot;, &quot;us&quot; or &quot;our&quot;). By accessing and using the Website and Services, you acknowledge that you have read, understood, and agree to be bound by the terms of this Agreement. If you are entering into this Agreement on behalf of a business or other legal entity, you represent that you have the authority to bind such entity to this Agreement, in which case the terms &quot;User&quot;, &quot;you&quot; or &quot;your&quot; shall refer to such entity. If you do not have such authority, or if you do not agree with the terms of this Agreement, you must not accept this Agreement and may not access and use the Website and Services. You acknowledge that this Agreement is a contract between you and the Operator, even though it is electronic and is not physically signed by you, and it governs your use of the Website and Services.</p>
						<h5>Accounts and membership</h5>
						<p>You must be at least 18 years of age to use the Website and Services. By using the Website and Services and by agreeing to this Agreement you warrant and represent that you are at least 18 years of age. If you create an account on the Website, you are responsible for maintaining the security of your account and you are fully responsible for all activities that occur under the account and any other actions taken in connection with it. We may, but have no obligation to, monitor and review new accounts before you may sign in and start using the Services. Providing false contact information of any kind may result in the termination of your account. You must immediately notify us of any unauthorized uses of your account or any other breaches of security. We will not be liable for any acts or omissions by you, including any damages of any kind incurred as a result of such acts or omissions. We may suspend, disable, or delete your account (or any part thereof) if we determine that you have violated any provision of this Agreement or that your conduct or content would tend to damage our reputation and goodwill. If we delete your account for the foregoing reasons, you may not re-register for our Services. We may block your email address and Internet protocol address to prevent further registration.</p>
						<h5>User content</h5>
						<p>We do not own any data, information or material (collectively, &quot;Content&quot;) that you submit on the Website in the course of using the Service. You shall have sole responsibility for the accuracy, quality, integrity, legality, reliability, appropriateness, and intellectual property ownership or right to use of all submitted Content. We may monitor and review the Content on the Website submitted or created using our Services by you. You grant us permission to access, copy, distribute, store, transmit, reformat, display and perform the Content of your user account solely as required for the purpose of providing the Services to you. Without limiting any of those representations or warranties, we have the right, though not the obligation, to, in our own sole discretion, refuse or remove any Content that, in our reasonable opinion, violates any of our policies or is in any way harmful or objectionable. You also grant us the license to use, reproduce, adapt, modify, publish or distribute the Content created by you or stored in your user account for commercial, marketing or any similar purpose.</p>
						<h5>Backups</h5>
						<p>We are not responsible for the Content residing on the Website. In no event shall we be held liable for any loss of any Content. It is your sole responsibility to maintain appropriate backup of your Content. Notwithstanding the foregoing, on some occasions and in certain circumstances, with absolutely no obligation, we may be able to restore some or all of your data that has been deleted as of a certain date and time when we may have backed up data for our own purposes. We make no guarantee that the data you need will be available.</p>
						<h5>Links to other resources</h5>
						<p>Although the Website and Services may link to other resources (such as websites, mobile applications, etc.), we are not, directly or indirectly, implying any approval, association, sponsorship, endorsement, or affiliation with any linked resource, unless specifically stated herein. We are not responsible for examining or evaluating, and we do not warrant the offerings of, any businesses or individuals or the content of their resources. We do not assume any responsibility or liability for the actions, products, services, and content of any other third parties. You should carefully review the legal statements and other conditions of use of any resource which you access through a link on the Website and Services. Your linking to any other off-site resources is at your own risk.</p>
						<h5>Prohibited uses</h5>
						<p>In addition to other terms as set forth in the Agreement, you are prohibited from using the Website and Services or Content: (a) for any unlawful purpose; (b) to solicit others to perform or participate in any unlawful acts; (c) to violate any international, federal, provincial or state regulations, rules, laws, or local ordinances; (d) to infringe upon or violate our intellectual property rights or the intellectual property rights of others; (e) to harass, abuse, insult, harm, defame, slander, disparage, intimidate, or discriminate based on gender, sexual orientation, religion, ethnicity, race, age, national origin, or disability; (f) to submit false or misleading information; (g) to upload or transmit viruses or any other type of malicious code that will or may be used in any way that will affect the functionality or operation of the Website and Services, third party products and services, or the Internet; (h) to spam, phish, pharm, pretext, spider, crawl, or scrape; (i) for any obscene or immoral purpose; or (j) to interfere with or circumvent the security features of the Website and Services, third party products and services, or the Internet. We reserve the right to terminate your use of the Website and Services for violating any of the prohibited uses.</p>
						<h5>Intellectual property rights</h5>
						<p>&quot;Intellectual Property Rights&quot; means all present and future rights conferred by statute, common law or equity in or in relation to any copyright and related rights, trademarks, designs, patents, inventions, goodwill and the right to sue for passing off, rights to inventions, rights to use, and all other intellectual property rights, in each case whether registered or unregistered and including all applications and rights to apply for and be granted, rights to claim priority from, such rights and all similar or equivalent rights or forms of protection and any other results of intellectual activity which subsist or will subsist now or in the future in any part of the world. This Agreement does not transfer to you any intellectual property owned by the Operator or third parties, and all rights, titles, and interests in and to such property will remain (as between the parties) solely with the Operator. All trademarks, service marks, graphics and logos used in connection with the Website and Services, are trademarks or registered trademarks of the Operator or its licensors. Other trademarks, service marks, graphics and logos used in connection with the Website and Services may be the trademarks of other third parties. Your use of the Website and Services grants you no right or license to reproduce or otherwise use any of the Operator or third party trademarks.</p>
						<h5>Limitation of liability</h5>
						<p>To the fullest extent permitted by applicable law, in no event will the Operator, its affiliates, directors, officers, employees, agents, suppliers or licensors be liable to any person for any indirect, incidental, special, punitive, cover or consequential damages (including, without limitation, damages for lost profits, revenue, sales, goodwill, use of content, impact on business, business interruption, loss of anticipated savings, loss of business opportunity) however caused, under any theory of liability, including, without limitation, contract, tort, warranty, breach of statutory duty, negligence or otherwise, even if the liable party has been advised as to the possibility of such damages or could have foreseen such damages. To the maximum extent permitted by applicable law, the aggregate liability of the Operator and its affiliates, officers, employees, agents, suppliers and licensors relating to the services will be limited to an amount greater of one dollar or any amounts actually paid in cash by you to the Operator for the prior one month period prior to the first event or occurrence giving rise to such liability. The limitations and exclusions also apply if this remedy does not fully compensate you for any losses or fails of its essential purpose.</p>
						<h5>Indemnification</h5>
						<p>You agree to indemnify and hold the Operator and its affiliates, directors, officers, employees, agents, suppliers and licensors harmless from and against any liabilities, losses, damages or costs, including reasonable attorneys' fees, incurred in connection with or arising from any third party allegations, claims, actions, disputes, or demands asserted against any of them as a result of or relating to your Content, your use of the Website and Services or any willful misconduct on your part.</p>
						<h5>Severability</h5>
						<p>All rights and restrictions contained in this Agreement may be exercised and shall be applicable and binding only to the extent that they do not violate any applicable laws and are intended to be limited to the extent necessary so that they will not render this Agreement illegal, invalid or unenforceable. If any provision or portion of any provision of this Agreement shall be held to be illegal, invalid or unenforceable by a court of competent jurisdiction, it is the intention of the parties that the remaining provisions or portions thereof shall constitute their agreement with respect to the subject matter hereof, and all such remaining provisions or portions thereof shall remain in full force and effect.</p>
						<h5>Dispute resolution</h5>
						<p>The formation, interpretation, and performance of this Agreement and any disputes arising out of it shall be governed by the substantive and procedural laws of Kenya without regard to its rules on conflicts or choice of law and, to the extent applicable, the laws of Kenya. The exclusive jurisdiction and venue for actions related to the subject matter hereof shall be the courts located in Kenya, and you hereby submit to the personal jurisdiction of such courts. You hereby waive any right to a jury trial in any proceeding arising out of or related to this Agreement. The United Nations Convention on Contracts for the International Sale of Goods does not apply to this Agreement.</p>
						<h5>Changes and amendments</h5>
						<p>We reserve the right to modify this Agreement or its terms relating to the Website and Services at any time, effective upon posting of an updated version of this Agreement on the Website. When we do, we will revise the updated date at the bottom of this page. Continued use of the Website and Services after any such changes shall constitute your consent to such changes.</p>
						<h5>Acceptance of these terms</h5>
						<p>You acknowledge that you have read this Agreement and agree to all its terms and conditions. By accessing and using the Website and Services you agree to be bound by this Agreement. If you do not agree to abide by the terms of this Agreement, you are not authorized to access or use the Website and Services.</p>
						<h5>Contacting us</h5>
						<p>If you would like to contact us to understand more about this Agreement or wish to contact us concerning any matter relating to it, you may send an email to su&#112;p&#111;rt&#64;&#103;et&#115;ha&#114;p.&#99;&#111;.k&#101;.</p>
						<p>This document was last updated on March 9, 2021</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
		<script src="<%= base_url %>/assets/js/jquery.min.js?v=010101"></script> 
		<script async defer src="<%= base_url %>/assets/js/sharp.alert.min.js"></script> 
		<script src="https://www.google.com/recaptcha/api.js" async defer></script>
		<script>		
		function myFormData(form) {
    let data = {};
    $(form).find('input, textarea, select').each(function(x, field) {        
        if (field.name) {
            if(field.multiple){
                if(field.value){
                    data[field.name]= $(form).find('select[name="' + field.name + '"]').val().join(',');
                }else{
                    data[field.name] = null;
                }
            }else{
                if(field.type=='radio'){                    
                    data[field.name] =  $(form).find('input[type="radio"][name="' + field.name + '"]:checked').val();
                }else{
                    data[field.name] = field.value;
                }                
            }
        }
    });
    return data
}

			var csrf_token = document.querySelector('meta[name="csrf-token"]').getAttribute('content');
			function onCaptchaPassed(e){
				   $('#register-button').html('Please wait..');
				   $("#register-button").attr("disabled", true);
				   var data = $("#user-registration-form").serialize();
				   $.ajax({
					   type: "POST",
        				async: true, 
					   credentials: 'same-origin',
					   headers: {
						   'CSRF-Token': csrf_token
					   },
					   url: "<%= base_url %>/auth/register",
					   data: data,
					   success: function(data) {
						   if(data.Status == 200) {
							   sharpAlert({
								   title: "Success!",
								   text: data.Message,
								  type: 'success',
								   confirmButtonClass: 'btn btn-success btn-swal',
								   
							   },(passed)=>{
								   window.location.replace('/auth/register');
							   });
						   } else {
							   showFailedMessage(data.Message);
						   }
					   },
					   error: function(err) {
						   showFailedMessage('Please try again later');
					   }
				   });
			   }
	  
			   let dest = getDestination();		

		function googleSignIn(scope){
			$.ajax({
				type: "POST",
        		async: true, 
				credentials: 'same-origin',
				headers: {
					'CSRF-Token': csrf_token
				},
				url: "<%= base_url %>/auth/google-login",
				data: {token:scope.credential, dest:dest, referal_code:'<%= referal_code %>'},
				success: function(e) {
					if(200 == e.Status) {
						$("#register-button").removeClass("btn-info");
						$("#register-button").addClass("btn-success");
						$("#register-button").html("Redirecting..");
						window.location.replace(e.Message)				
					} else {
						showFailedMessage(e.Message)
					}
				},
				error: function(e) {
					showFailedMessage("An error has occurred. Please try again later")
				}
			});
		}

		function getDestination() {
			let name = 'r';
			name = name.replace(/[\[]/, '\\[').replace(/[\]]/, '\\]');
			var regex = new RegExp('[\\?&]' + name + '=([^&#]*)');
			var results = regex.exec(location.search);
			return results === null ? '' : decodeURIComponent(results[1].replace(/\+/g, ' '));
		};
				
		
		
			   $(document).ready(function() {
		   
			$("#user-registration-form").validate({
				   rules: {
					   user_email: {
						   required: true,
						   email: true,
						   remote: "<%= base_url %>/auth/check-mail"
					   },					   
					   referal_code:{
						   maxlength:6
					   },
					   user_password: {
						   required: true,
						   minlength: 6,
						   maxlength: 15
					   },
					   password_repeat: {
						   required: true,
						   minlength: 6,
						   maxlength: 15,
						   equalTo: "#user_password"
					   },
					   agree_terms: {
						   required: true,
					   }
				   },
				   messages: {
					   user_email: {
						   required: "Please enter your email address",
						   email: "Please enter a valid email address",
						   remote: "This email is already registered"
					   },					   
					   referal_code:{
						   maxlength: "Invalid referal code"
					   },
					   user_password: {
						   required: "Please provide a password",
						   minlength: "Your password must be at least 6 characters long",
						   maxlength: "Your password must be at most 15 characters long"
					   },
					   password_repeat: {
						   required: "Please repeat the password",
						   minlength: "Your password must be at least 6 characters long",
						   maxlength: "Your password must be at most 15 characters long",
						   equalTo: "Passwords do not match"
					   },
					   agree_terms:{
						   required: "You must agree to our terms of use"
					   }
				   }
			   });
		   
		   	$("#user-registration-form").on("submit", function(e) {
			   e.preventDefault();
			   var isvalid = $("#user-registration-form").valid();
			   if(isvalid) {
				grecaptcha.execute();
				return;
			   }
		   	});
	   });
	   
	   function showFailedMessage(msg) {
		   $('#register-button').html('Register');
		   var res = "<div class='alert alert-warning alert-dismissible mb-2' role='alert'><button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>×</span></button><strong>Failed!</strong> " + msg + " </div>";
		   $("#register-result").html(res);
		   $("#register-button").attr("disabled", false);
	   }
		</script>
	</body>

	</html>