<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <title>Rent Hub - <%= page_title  %></title>
      <meta name="description" content="Be the ahead of everyone by using the modern approach in managing tenancies and properties.">
      <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
      <meta name="csrf-token" content="<%=csrfToken%>">
      <meta name="theme-color" content="#764ABC"/>
      <meta name="google-signin-client_id" content="320945779663-ftgojoti77r2l8h6j18aff1k925n2eu4.apps.googleusercontent.com">
      <link rel="canonical" href="<%= base_url %>">
      <meta name="viewport" content="width=device-width,initial-scale=1">
   
      <link rel="prefetch" href="<%=base_url%>/assets/images/favicon_128.png" />
      <link rel="apple-touch-icon" href="<%=base_url%>/assets/images/apple-touch.png">
      <link rel="stylesheet" href="<%= base_url %>/assets/css/bootstrap.min.css?ver=0104" type="text/css"/>
      <link rel="stylesheet" href="<%= base_url %>/assets/css/bundle.css?ver=125014683" media="print" onload="this.media='all'">
      <link rel="stylesheet" href="<%= base_url %>/assets/css/app.min.css?ver=092018" type="text/css" crossorigin/>
      
      <noscript>
         <link rel="stylesheet" href="<%= base_url %>/assets/css/nojs.css" type="text/css" crossorigin/>         
      </noscript>