<!-- ========== Left Sidebar Start ========== -->
<div class="vertical-menu">
	<div data-simplebar class="h-100">
		<!--- Sidemenu -->
		<div id="sidebar-menu">
			<!-- Left Menu Start -->
			<button class="btn" id='close-side-menu'><i class='bx bx-x' style='font-size:2em;'></i></button>
			<ul class="metismenu list-unstyled" id="side-menu">
            				
				<% if(user_profile.is_landlord){%>	
											                       
						<li class="menu-title">Adminstration</li>
						<li>
							<a href="<%= base_url %>/admin/dashboard" class=" dynamic-link">
								<i class='bx bxs-pie-chart-alt-2'></i>
								<span>Dashboard</span>
							</a>
						</li>
						<li>
							<a href="javascript: void(0);" class="has-arrow "> <i class='bx bx-building-house'></i> <span class="menu-text">Properties</span> </a>
							<ul class="sub-menu" aria-expanded="false">
								<li class="menu-item " aria-haspopup="true">
									<a href="<%= base_url %>/admin/properties" class="menu-link dynamic-link"> <span class="menu-text">My Properties</span> </a>
								</li>													
								<li class="menu-item" aria-haspopup="true">
									<a href="<%= base_url %>/admin/managers" class="menu-link dynamic-link"> <span class="menu-text">Managers/Agents</span> </a>
								</li>
							</ul>
						</li>
						<li>
							<a href="javascript: void(0);" class="has-arrow "> <i class='bx bx-book-open'></i> <span class="menu-text">Management</span> </a>
							<ul class="sub-menu" aria-expanded="false">
								<li class="menu-item " aria-haspopup="true">
									<a href="<%= base_url %>/manage/units" class="menu-link dynamic-link"> <span class="menu-text">Units</span> </a>
								</li>
								<li class="menu-item " aria-haspopup="true">
									<a href="<%= base_url %>/manage/tenants" class="menu-link dynamic-link"> <span class="menu-text">Tenants</span> </a>
								</li>	
								<li class="menu-item" aria-haspopup="true">
									<a href="<%= base_url %>/manage/leases" class="menu-link dynamic-link"><span class="menu-text">Leases</span> </a>
								</li>						
								<li class="menu-item" aria-haspopup="true">
									<a href="<%= base_url %>/manage/readings" class="menu-link dynamic-link"> <span class="menu-text">Meter Readings</span> </a>
								</li>
								<li class="menu-item" aria-haspopup="true">
									<a href="<%= base_url %>/manage/work-orders" class="menu-link dynamic-link"> <span class="menu-text">Work Orders</span> </a>
								</li>
							</ul>
						</li>
						<li>
							<a href="javascript: void(0);" class="has-arrow "> <i class='bx bx-group'></i> <span class="menu-text">Suppliers/Vendors</span> </a>
							<ul class="sub-menu" aria-expanded="false">
								<li class="menu-item " aria-haspopup="false">
									<a href="<%= base_url %>/suppliers/all" class="menu-link dynamic-link"> <span class="menu-text">List</span> </a>
								</li>
							</ul>
						</li>
						<li>
							<a href="javascript: void(0);" class="has-arrow "> <i class='bx bxs-bank' ></i> <span class="menu-text">Accounting</span> </a>
							<ul class="sub-menu" aria-expanded="false">
								<li class="menu-item" aria-haspopup="false">
									<a href="<%= base_url %>/admin/accounts" class="menu-link dynamic-link"><span class="menu-text">Accounts List</span> </a>
								</li>
								<li class="menu-item " aria-haspopup="false">
									<a href="<%= base_url %>/accounting/expenses" class="menu-link dynamic-link"> <span class="menu-text">Expenses</span> </a>
								</li>	
								<li class="menu-item " aria-haspopup="false">
									<a href="<%= base_url %>/accounting/tenant-invoices" class="menu-link dynamic-link"> <span class="menu-text">Tenant Invoices</span> </a>
								</li>	
								<li class="menu-item " aria-haspopup="false">
									<a href="<%= base_url %>/accounting/tenant-payments" class="menu-link dynamic-link"> <span class="menu-text">Tenant Payments</span> </a>
								</li>
								<li class="menu-item" aria-haspopup="false">
									<a href="<%= base_url %>/suppliers/invoices" class="menu-link dynamic-link"><span class="menu-text">Supplier Invoices</span> </a>
								</li>
								<li class="menu-item" aria-haspopup="false">
									<a href="<%= base_url %>/suppliers/payments" class="menu-link dynamic-link"><span class="menu-text">Supplier Payments</span> </a>
								</li>															
								<li class="menu-item" aria-haspopup="false">
									<a href="<%= base_url %>/accounting/accounts-receivable" class="menu-link dynamic-link"><span class="menu-text">Accounts Receivable</span> </a>
								</li>
								<li class="menu-item" aria-haspopup="false">
									<a href="<%= base_url %>/accounting/accounts-payable" class="menu-link dynamic-link"><span class="menu-text">Accounts Payable</span> </a>
								</li>								
							</ul>
						</li>
						<li>
							<a href="javascript: void(0);" class="has-arrow "> <i class='bx bxs-report' ></i> <span class="menu-text">Reports</span> </a>
							<ul class="sub-menu" aria-expanded="false">
								<li class="menu-item " aria-haspopup="false">
									<a href="<%= base_url %>/admin/reports/home" class="menu-link dynamic-link"> <span class="menu-text">Home</span> </a>
								</li>								
							</ul>
						</li>					
						<li class="menu-title">System</li>
						<li>
							<a href="javascript: void(0);" class="has-arrow "> <i class='bx bxs-category'></i> <span class="menu-text">Application</span> </a>
							<ul class="sub-menu" aria-expanded="false">										
								<li class="menu-item" aria-haspopup="true">
									<a href="<%= base_url %>/system/subscriptions" class="menu-link dynamic-link"> <span class="menu-text">Subscriptions</span> </a>
								</li>
								<li class="menu-item" aria-haspopup="true">
									<a href="<%=base_url %>/system/invoices" class="menu-link dynamic-link"> <span class="menu-text">Invoices</span> </a>
								</li>
								<li class="menu-item" aria-haspopup="true">
									<a href="<%= base_url %>/system/payments" class="menu-link dynamic-link"> <span class="menu-text">Payments</span> </a>
								</li>
							</ul>
						</li>								
				 <%}%>

				 <% if(user_profile.is_agent){%>					
					<li class="menu-title">Agency</li>
					<li class="menu-item" aria-haspopup="true">
						<a href="<%= base_url %>/agent/properties" class="menu-link dynamic-link"> <i class='bx bx-building'></i> <span class="menu-text">Properties</span> </a>
					</li>					
				<%}%>

				<% if(user_profile.is_tenant){%>					
					<li class="menu-title">Tenancy</li>
					<li>
						<a href="javascript: void(0);" class="has-arrow ">
							<i class='bx bx-home-smile'></i>
							 <span class="menu-text">Tenant</span> </a>
						<ul class="sub-menu" aria-expanded="false">
							<li class="menu-item" aria-haspopup="true">
								<a href="<%= base_url %>/tenant/dashboard" class="menu-link dynamic-link"> <span class="menu-text">Dashboard</span> </a>
							</li>
							<li class="menu-item" aria-haspopup="true">
								<a href="<%= base_url %>/tenant/leases" class="menu-link dynamic-link"> <span class="menu-text">Rented Units/Houses</span> </a>
							</li>
							<li class="menu-item" aria-haspopup="true">
								<a href="<%= base_url %>/tenant/favourites" class="menu-link dynamic-link"> <span class="menu-text">My Favourites</span> </a>
							</li>
							<li class="menu-item" aria-haspopup="true">
								<a href="<%= base_url %>/tenant/listings" class="menu-link dynamic-link"> <span class="menu-text">Listings</span> </a>
							</li>
							<li class="menu-item" aria-haspopup="true">
								<a href="<%= base_url %>/tenant/work-orders" class="menu-link dynamic-link"> <span class="menu-text">Work Orders</span> </a>
							</li>
							<li class="menu-item" aria-haspopup="true">
								<a href="<%= base_url %>/tenant/vacating-notices" class="menu-link dynamic-link"> <span class="menu-text">Vacating Notices</span> </a>
							</li>
						</ul>
					</li>			
				<%}%>

				<li class="menu-title">Support</li>
				<li>
					<a href="javascript: void(0);" class="has-arrow ">
						<i class='bx bx-help-circle'></i>
						<span class="menu-text">Support</span> 
					</a>
					<ul class="sub-menu" aria-expanded="false">
						<li class="menu-item" aria-haspopup="true">
							<a href="<%= base_url %>/support/help" class="menu-link dynamic-link"> <span class="menu-text">Help</span> </a>
						</li>
						<li class="menu-item" aria-haspopup="true">
							<a href="<%= base_url %>/support/contacts" class="menu-link dynamic-link"> <span class="menu-text">Contact Us</span> </a>
						</li>						
					</ul>
				</li>
			</ul>
		</div>
		<!-- Sidebar -->
	</div>
</div>
<!-- Left Sidebar End -->
<div class="main-content">
	
