<% if(!load_chunk){%> 
   <%- include('../shared/page-header') %>
   <%- include('../shared/top-page') %>
   <div class="page-content">
<%}%>

<div style="height:calc(100vh - 160px)">
   <div class='d-flex align-items-center justify-content-center'>
       <div class="error-template " style='position: absolute; top: 50%; transform: translate(0, -50%);'>
           <h1>
               Oops!</h1>
           <h2>
               Maximum Units Attained</h2>
           <div class="error-details">
               Sorry, You have reached the maximum number of Units to manage. Please upgrade your package to manage more units!
           </div>
           <div class="error-actions">
            <a href="<%= base_url %>/admin/properties" class="btn btn-info mt-2 dynamic-link">
                Properties List </a>
                <a href="<%= base_url %>/system/subscriptions/new" class="btn btn-success  mt-2 dynamic-link"> Upgrade Package </a>
        </div>
       </div>      
   </div>
</div>
	
    <% if(!load_chunk){%> </div> <%- include('../shared/page-footer') %> <%- include('../shared/admin-scripts') %> <%}%>
   <script>window.onload=function(){window.jQuery||window.location.reload()};</script>

     <% if(!load_chunk){%> </body></html> <%}%>